RewriteEngine ON
RewriteRule ^/?([a-z]+)(/([a-z]+)(/([a-z0-9]+))?)?$ index.php?controller=$1&action=$3&uid=$5 [QSA,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
