@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Montserrat);
// @font-face{
//   font-family:'Avenir';
//   src: url('../fonts/AvenirNext-Regular.eot?v=4.7.0');
//   src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('Book');
//   font-weight:normal;
//   font-style:normal;
// }
// @font-face{
//   font-family:'AvenirNext-Regular';
//   src: url('../fonts/AvenirNext-Regular.eot?v=4.7.0');
//   src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('Regular'),
//   url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('Medium'),
//   url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('Bold');
//   font-weight:normal;
//   font-style:normal;
// }
$font-family: 'Montserrat', sans-serif;
$font-weight: 200;
$font-size-tiny: 8px;
$font-size-small: 12px;
$font-size: 14px;
$font-size-cn: 14px;
$font-size-big: 16px;
$font-size-big-cn: 16px;
$font-size-large: 18px;
$font-size-large-cn: 18px;
$font-size-huge: 24px;
$font-size-huge-cn: 24px;
$font-size-super: 32px;
$font-size-super-cn: 32px;
$font-size-giant: 48px;
$font-size-giant-cn: 48px;
