.footer {
  background-color: #33333b;color: #9e9c9f;
  padding: 24px 0;
  > .container {
    display: flex;align-items: flex-start;justify-content: flex-start;
  }
  .heading {
    color: #fff;
    margin-bottom: 24px;
  }
  .block {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  .copyright {
    display: flex;justify-content: center;align-items: center;
    margin-top: 24px;
  }
  ul {
    display: block;margin: 0;padding: 0;
    li {
      display: flex;margin: 0;padding: 0;
    }
  }
}
