.header {
  // height: $header-height;
  border-bottom: 1px solid lightgrey;
  background-color: #f7f7f7;
  .container {
    display: flex;align-items: center;
    margin: auto;padding: 0;
  }
  .topbar {
    height: 40px;width: 100%;
    background-color: #33333b;color: #fff;
    display: flex;align-items: center;
  }
  .navigation {
    height: 80px;width: 100%;
    background-color: #f7f7f7;color: #33333b;
    display: flex;align-items: center;
    // font-size: 15px;
  }
  .menu {
    text-transform: uppercase;
  }
  .logo {}
  .searchbox {
    display: flex;justify-content: center;align-items: center;
    .input-field {
      margin: 0 4px;
    }
  }
}
