.top-header {
  @extend .paddingl,.paddingr;
  display: flex;justify-content: center;align-items: center;
  height: 44px;
  background-color: #33333b;
  color: #fff;
  .top-header-link {
    text-transform: uppercase;
    margin: 0 12px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.header {
  @extend .paddingl,.paddingr;
  display: flex;
  height: $header-height;
  border-bottom: 1px solid lightgrey;
  background-color: #f7f7f7;
  .menu.menu0 {
    @extend .horizontal,.center,.middle;
    margin: 0;padding: 0;
    .node {
      @extend .horizontal,.center,.middle,.large;
      margin: 0;padding: 0 $mapa/2;
      white-space: nowrap;
      &.active,&:hover {
        color: $special;
      }
    }
  }
}
