.input {
  width: 100%;
  position: relative;
  .label {
    font-weight: 500;
    font-size: 110%;
    font-style: italic;
  }
  .description {
    font-size: 85%;
    font-style: italic;
  }
  .hint {
    margin-top: 5px;
    font-size: 80%;
    font-style: italic;
  }
  .error {
    margin-top: 5px;
  }
  .field-wrapper {
    flex: 1;position: relative;
    i {
      cursor: pointer;
      position: absolute;
      right: $mapa/4;
      top: $mapa/6;
      z-index: 1;
      color: $black;
    }
  }
  .field {
    border-bottom: 1px solid $grey;
    background-color: $white;
    height: $input-height;
    width: 100%;
  }
  &.invalid {
    .field {
      border-bottom: 1px solid $red;
    }
  }
  &.select {
    .field {
      padding-right: $mapa + 10px;
    }
    .options {
      position: absolute;z-index: 2;
      width: 100%;
      background-color: $white;
      color: $black;
      box-shadow: $shadow;
      max-height: 200px;
      overflow: auto;
      .option {
        cursor: pointer;
        padding: 3px;
        border-bottom: 1px solid $bd-color;
        &.selected,&:hover {
          background-color: $lightgrey;
        }
      }
      &:hover {
        box-shadow: $shadow-hover;
      }
    }
    .field-wrapper {
      &:after {
        content: '';display: block;
        position: absolute;top: $mapa/2;right: $mapa/2;
        z-index: 1;
        border-top: 7px solid black;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 0 solid transparent;
      }
    }
    &.options-shown {
      .field-wrapper {
        &:after {
          border-top: 0 solid transparent;
          border-bottom: 7px solid black;
        }
      }
    }
  }
  &.password-shown {
    .field-wrapper i {
      color: $grey;
    }
  }
}
