.input-field {
  $size: 18px;
  $inner-size: $size - 8px;
  .text {
    border: 1px solid #a2a2a2;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #383641;
    padding: 0 8px;
    &::placeholder {
      opacity: .5;
      text-transform: uppercase;
    }
  }
  .select {
    height: 40px;
  }
  .checkbox {
    visibility: hidden;
    width: $size;height: $size;
  }
  &.checkbox-field {
    position: relative;
    display: flex;justify-content: center;align-items: center;
    cursor: pointer;
    &:before {
      content: '';
      width: $size;height: $size;
      position: absolute;
      top: 50%;left: 0;margin-top: -$size/2;
      display: block;
      transition: all .5s ease;
      cursor: pointer;
      border: 1px solid #a2a2a2;
      background-color: #fff;
    }
    label {
      margin: 0 0 0 4px;
      padding: 0;
      cursor: pointer;
    }
    &.checked {
      &:after {
        content: '';
        width: $inner-size;height: $inner-size;
        position: absolute;
        top: 50%;left: ($size - $inner-size)/2;margin-top: -$inner-size/2;
        display: block;
        transition: all .5s ease;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: #33333b;
      }

    }
    &.radio-field {
      &:before {
        border-radius: 50%;
      }
    }
    &.select-field {
    }
  }
}
