.messages {
  position: fixed;top: $header-height;right: 0;
  z-index: 1;
  .message {
    width: 320px;
    padding: $mapa/3 $mapa;
    background-color: #fff;
    color: #000;
    min-height: 64px;
    box-shadow: 1px 3px 8px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    margin-right: $mapa/2;
    margin-bottom: $mapa/2;
    color: #000;
    &.error {
      color: $red;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 1px 3px 8px rgba(0,0,0,1);
    }
  }
}
